/**
 * Name : ;
 * Url : ;
 * Date : 2018-Sep-08;
 * Designer Name : Md. Mesbaul Islam;
 * Contact : 01738120411;
 * E-mail : rony.max24@gmail.com;
 * Author URI: ;
 */

body{
	color: #333;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	background-color: #fff;
}
h1, h2, h3, h4, h5, h6{
	font-weight: 700;
}
a{
	color: rgba(51, 51, 51, 1);
	text-decoration: none;
	transition: 0.3s;
}
a:hover,
a:focus{
	color: rgba(51, 51, 51, 0.8);
	text-decoration: none;
	transition: 0.3s;
}
img{
	max-width: 100%;
	display: block;
	vertical-align: middle;
	transition: 0.3s;
}
img:hover,
img:focus{
	opacity: 0.8;
	transition: 0.3s;
}